body {
    background-color: aquamarine;
    text-align: center;
}

canvas {
    background-color: grey;
}

.colors{
    list-style: none;
}

.container
{
     display: flex;
     align-items: center;
     justify-content: center;
     background-color: rgba(0, 0, 0, 0.362);
    
}

.colors li{
    
    height: 20px;
    width: 20px;
    display: inline;
    float: left;
    margin: 5px;
}


li.Black{
    background-color: black;
}
li.White{
    background-color: white;
}
li.Red{
    background-color: red;
}
li.Orange{
    background-color: Orange;
}
li.Yellow{
    background-color: Yellow;
}
li.Green{
    background-color: Green;
}
li.Blue{
    background-color: blue;
}
li.Indigo{
    background-color: Indigo;
}
li.Purple{
    background-color: Purple;
}
